<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.spark.chipro.manage.biz.mapper.CompetitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.spark.chipro.manage.biz.entity.Competition">
        <id column="id" property="id" />
        <result column="audit_status" property="auditStatus" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="sign_up_link" property="signUpLink" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", audit_status AS "auditStatus", name AS "name", desc AS "desc", sign_up_link AS "signUpLink"
    </sql>

</mapper>
