<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.spark.chipro.manage.biz.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.spark.chipro.manage.biz.entity.Test">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="explain" property="explain" />
        <result column="deadline" property="deadline" />
        <result column="submit_num" property="submitNum" />
        <result column="results_reveal_status" property="resultsRevealStatus" />
        <result column="results_answer" property="resultsAnswer" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", name AS "name", explain AS "explain", deadline AS "deadline", submit_num AS "submitNum", results_reveal_status AS "resultsRevealStatus", results_answer AS "resultsAnswer", create_time AS "createTime"
    </sql>

</mapper>
