<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.spark.chipro.oss.biz.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.spark.chipro.oss.biz.entity.UserRole">
        <id column="USER_AND_ROLE_ID" property="userAndRoleId" />
        <result column="USER_ID" property="userId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_PERSON" property="createPerson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_AND_ROLE_ID AS "userAndRoleId", USER_ID AS "userId", ROLE_ID AS "roleId", CREATE_TIME AS "createTime", CREATE_PERSON AS "createPerson"
    </sql>

</mapper>
